 <table border="0" cellpadding="10" cellspacing="10" class="tblDetail">
          <tr>
            <td><h1>About Us</h1>
              <p>S.K Associate is a professional tax consulting firm  dedicated to providing innovative, in-depth solutions to tax issued faced by our  clients. Working with our clients, our highly  skilled staff customizes engagements to fit the unique requirements of each  situation.</p>
            <p>In today&rsquo;s constantly changing world, it is no longer  acceptable to just follow trends and fill out forms. At S.K Associate, every  client receives the full benefit of our extensive experience, professional  expertise and personalized attention. We carefully analyze each client&rsquo;s needs  in order to identify short-term and long-term goals and to establish  priorities. We then devise specific strategies to achieve these goals. Our  mission is to provide the maximum level of professional service available in  our specialized field of expertise.</p></td>
          </tr>
        </table>
