<h1>Budget</h1>
   <table border="0" cellpadding="10" cellspacing="10">
          <tr>
            <td>
              <h3 class="">Salient Features </h3>
              <br/>
              <ul>
              <li><%= link_to "CUSTOMS BUDGETARY MEASURES 2007-08", customsbudget_path %></li>
              <li><%= link_to "SALES TAX & FEDERAL EXCISE BUDGETARY MEASURES (FY 2007-08)", sfebudgetary_path %></li>
              <li><%= link_to "FOR THE BUDGET 2007- DIRECT TAXES", directtax_path %></li>
              </ul>
              </td>
          </tr>
        </table>
