<h1>Contact</h1>
<table><tr>
            <td><strong>Faheem Ahmed Siddiqui</strong><br>
              Cell # :&nbsp;&nbsp;&nbsp; 0300-2111909<br>
              Email : <a href="mailto:faheem@skatax.com">faheem@skatax.com</a></td>
            </tr>
      <tr> 
      <td>    <strong>Muhammad Arif Khan </strong><br> 
              Cell # :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0301-8268886<br>
              Email : <a href="mailto:arif@skatax.com">arif@skatax.com</a>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Address</strong><br>
              Mumtaz manzil<br> 
              Gulshan-e-Iqbal<br>
            </td>
          </tr>
        </table>

