<h1>Corporate Income Tax </h1>
         <p>In this area we offer complete range of services including</p>
			<p>
              <ol>
              <ul>
                <li><span dir="LTR">Tax  planning strategy. </span></li>
                <li><span dir="LTR">Computation  and filing of income tax returns. </span></li>
                <li><span dir="LTR">Finalization  of assessments undertaking representations.</span></li>
                <li><span dir="LTR">Objections  &amp; appeals. </span></li>
                <li><span dir="LTR">Obtaining  exemption &amp; concessions including capital value tax arrangements and  keeping clients updated on going developments relating to corporate taxation.</span></li>
              </ul>
	
			</p>
