<h1>Budget</h1>
<table border="0" cellpadding="10" cellspacing="10">
          <tr>
            <td><h1>CUSTOMS BUDGETARY MEASURES 2007-08</h1>
			  <h6>Policy Objectives</h6>
<ol>
	<ul>		  
<li><span dir="LTR">Consistency and transparency in tariff policy.</span></li>

<li><span dir="LTR">Minimizing the cost of doing business.</span></li>

<li><span dir="LTR">Tariff reforms continued.</span></li>

<li><span dir="LTR">Cascading principle in tariff rates maintained as guiding principle (primary raw materials @ 0%-5%, secondary/components @ 5-10% and finished goods @ 20-25%).</span></li>

<li><span dir="LTR">Industrial incentives for growth and expansion.</span></li>

Tariff classification scheme aligned with HS 2007 version.</span></li>

<li><span dir="LTR">Amendments in SROs to align them with HS 2007 version.</span></li>

<li><span dir="LTR">Amendments in Customs Act, Rules and Procedures for further simplification.</span></li>
<ul>
</ol>

<h6>Structural Measures</h6>
<ol>
	<ul>		  
<li><span dir="LTR">Adoption of Harmonized Commodity Description and Coding System  2007 version. Necessary additions/deletions and amendments made in Pakistan Customs Tariff.</span></li>

<li><span dir="LTR">Introduction of 0% duty slab in Tariff. The SRO regime squeezed in size.</span></li>
</ul>
</ol>

<h6>Sectoral Industrial Incentives
</h6>

<ol>
	<ul>		  
<li><span dir="LTR">In order to enhance local industrialization, capacity building, production competitiveness efficiency and product presentability, duty rates on raw materials, parts and components for manufacturing of the following items/products have either been reduced or eliminated:
	</span>
	<ol><ul>
	<li><span dir="LTR">CNG compressors.</span></li>
<li><span dir="LTR">Paper and paperboard.</span></li>
<li><span dir="LTR">Items/equipments which have dedicated use in non-conventional/ alternate renewable energy resources like solar, wind and bio tech.</span></li>
<li><span dir="LTR">Gum base.</span></li>
<li><span dir="LTR">Transformers, submersible motors, electricity meters, switchgears and electric bulbs and tube lights.</span></li>
<li><span dir="LTR">Light engineering products.</span></li>
<li><span dir="LTR">Polystyrenes and their raw materials.</span></li>
<li><span dir="LTR">Energy saving lamps and its raw materials/ parts.</span></li>
<li><span dir="LTR">Petroleum bitumen/ asphalt.</span></li>
<li><span dir="LTR">Footwear.</span></li>
<li><span dir="LTR">Football bladder.</span></li>
<li><span dir="LTR">Aviation equipments.</span></li>
</ul></ol>
<li><span dir="LTR">New sectors/sub-sectors have been added under the incentive regime for local manufacturing. Existing exemption regime available to different industrial segments has been deepened.
</span></li>
<li><span dir="LTR">Reduction/elimination of duty for introduction of Second Generation Tariff Policy Reforms for:</span><br></li>

<ol><ul>
	<li><span dir="LTR">Gems & Jewelry</span></li>
	<li><span dir="LTR">Furniture</span></li>
<li><span dir="LTR">Marble & Granite</span></li>
<li><span dir="LTR">Horticulture</span></li>
<li><span dir="LTR">Surgical equipment/medical devices.</span></li>
</ul></ol>
<li><span dir="LTR">Poultry feed items, poultry vitamins, evaporation air coolers, insulated sandwich panels and silos for storage of poultry have been exempted from duty.
</span>
</li>
	</ul>		  
</ol>
<h6>Increase in duty rates</h6>

<ol>
	<ul>		  
<li><span dir="LTR">In order to safeguard the local industry from an onslaught of foreign goods duty rates have been increased on import of poultry meat, welded stainless steel pipes etc. Duty rates on vehicles have been increased around the effective rate of CVT which has been merged in customs duty. For upto 800cc cars there was no CVT, therefore rate of duty against these vehicles has not been changed.</span></li></ul></ol>

<h6>Revenue Measures</h6>

<ol>
	<ul>		  
<li><span dir="LTR">Levy of 1% Special surcharge on imports excluding vegetables/pulses,edible oil/ghee, crude petroleum, furnace oil, HSD, medicines, fertilizers,imports under chapter 99, temporary imports etc.</span></li>

<li><span dir="LTR">Merger of Capital Value Tax (CVT) in Customs duty.</span></li>

<li><span dir="LTR">Levy of regulatory duty on export of specified metals and articles thereof.</span></li>
</ul></ol>
<h6>Relief Measures</h6>

<ol>
	<ul>		  
<li><span dir="LTR">Amnesty scheme for condonation of delays in submission of installation/ consumption certificates etc.</span></li>

<li><span dir="LTR">Amnesty from payment of fine/penalties and surcharges on payment of principal amount.
</span></li></ul></ol>
<h6>Other Measures</h6>

<ol>
	<ul>		  
<li><span dir="LTR">Downward revision of 5 yrs. capping to 3 yrs. for import of old/used cars/jeeps.</span></li>

<li><span dir="LTR">5 yrs. tariff plan for auto sector.</span></li>

<li><span dir="LTR">Reduction/elimination of duty rates on specified diesel generating sets.</span></li>

<li><span dir="LTR">Inputs used by the newspaper industry are being provided at concessionary rate.</span></li>

<li><span dir="LTR">Duty rates on equipments for broadcasting sector have been reduced to 5%.</span></li>

<li><span dir="LTR">Extention of incentives for expansion and up-gradation of existing hospitals.</span></li>

<li><span dir="LTR">Inclusion of PSF in DTRE scheme, payment of duty drawback and R&D support.</span></li>
</ul></ol>
<h6>Legal Changes</h6>
<ol>
	<ul>		  
<li><span dir="LTR">
Legislative changes have been suggested for simplification of law/ procedures.</span></li>

<li><span dir="LTR">Section 25 and 25A of the Customs Act have been amended to address the phenomenon of under invoicing.</span></li>
</ul></ol>

</td>
          </tr>
      
        </table></td>
	    <td height="350" bgcolor="#FFFFFF"></td>
	</tr>
	
	<tr> 
		<td height="13" bgcolor="#FFFFFF" ></td>
		<td height="13" background="images/sk_09.gif"></td>
		<td height="13" background="images/sk_09.gif"></td>
		<td>			</td>
	</tr>
	<tr>
		<td height="20" colspan="3" bgcolor="#FFFFFF"><?php require_once("user_control/app_bottom.php")?></td>
		<td>			</td>
	</tr>
	<tr>
		<td height="1" colspan="3" background="images/sk_23.jpg"></td>
		<td>			</td>
	</tr>
	<tr>
		<td colspan="3" bgcolor="#FFFFFF" align="center"><span class="copyright"><?php echo COPYRIGHT; ?></span></td>
		<td>			</td>
	</tr>
	<tr>
		<td colspan="4">			</td>
	</tr>
</table>
