<h1>Budget</h1>
<table width="556" border="0" cellpadding="10" cellspacing="10" >
          <tr>
            <td><h1>FOR THE BUDGET 2007- DIRECT TAXES</h1>
             <ol> <h6 class="">A. RELIEF MEASURES </h6>
              
                <li>Present corporate tax rate of 35% to continue.</li>
                <li>Income of Micro Finance Banks (MFBs) exempted from tax for  five years.</li>
                <li>Withholding tax on passenger transport services reduced from  6% to 2% on the analogy of goods transport services.</li>
                <li>Exemption under clause (132) of Part I of Second Schedule  extended to companies owning and managing Hydel Power Projects situated in  AJ&amp;K.</li>
                <li>Companies operating Hotels in Pakistan or AJ&amp;K are allowed  set off of losses arising in Pakistan or AJ&amp;K against income in Pakistan or  AJ&amp;K and vice versa as the case may be.</li>
                <li>Exemption of tax on capital gains extended for further one  year.</li>
                <li>Withdrawal of 2% withholding tax over and above the prescribed  rate on supplies for non-disclosure of NTN or CNIC to withholding agent.</li>
                <li>Mergers and Acquisitions to be treated as non tax event.</li>
                <li>Withholding tax rate on all exports to be unified @ 1%.</li>
                <li>Permanent  Establishments of non-resident Exploration and Production Companies exempted  from withholding tax on supply of crude oil and gas.</li>
                <li>E&amp;P  Companies exempted from WHT on imports (other than vehicles).</li>
                <li><strong>Review of Law Relating to  Holding Companies.</strong></li>
                <ol>
                  <ul>
                    <li>75% share holding required if none of the companies is a public  listed limited company.</li>
                    <li>55% share holding required if one of the group companies  is a public listed limited company.</li>
                    <li>Group relief restricted to domestic companies.</li>
                    <li>Companies engaged in trading will not qualify for relief.</li>
                    <li>Current tax year losses can be surrendered by holding company  to a subsidiary or between subsidiaries which fulfill the requirements of share  holding;</li>
                    <li>Inter corporate dividend - liable to 10% adjustable withholding  tax.</li>
                  </ul>
                </ol>
                <li><strong>Group Taxation/Relief:</strong></li>
                         
              <ul>
                <li>For group formation, transfer of shares between companies  and the owners in one direction to be treated as non-tax event.</li>
                <li>Group taxation to be restricted to locally registered companies  under Companies Ordinance, 1984 domestic companies.</li>
              </ul>
              
                <li>CNIC to be used for  identification purpose, as an alternate, where NTN is not obtained.</li>
                <li>Replacing Venture Capital Funds  with Private Equity and Venture Capital Funds - exemption extended to the Fund upto  June 2014.</li>
                <li>Capital Gains of private  limited companies on sale of their assets to private equity and Venture Capital  Funds to be taxed @ 10% (reduced tax rate).</li>
                <li>Income arising on sale of  immoveable property to Real Estate Investment &nbsp;&nbsp;&nbsp;Trust (REIT), exempted from tax for three  years.</li>
                <li>Separate tax regime for retailers
                  <table width="454" border="0" class="tblDetail">
                    <tr>
                      <td width="148"><strong>Turnover</strong></td>
                      <td width="296"><strong> Rate of Tax</strong></td>
                    </tr>
                    <tr>
                      <td> Upto Rs. 05 million</td>
                      <td>0.5%</td>
                    </tr>
                    <tr>
                      <td>From 05 to 10 million</td>
                      <td>Rs. 25,000 plus 0.5% of the
amount of turnover
exceeding Rs. 5 million</td>
                    </tr>
                    <tr>
                      <td>Above Rs. 10 million</td>
                      <td>Rs.50,000 plus 0.75%
of the amounting of 
turnover exceeding Rs.
10 million</td>
                    </tr>
                  </table>
                </li>
                <li>Separate Schedule for Banking Companies introduced.</li>
                <li>Maximum limit of investment in IPOs to avail tax credit enhanced from Rs.  200,000 to 300,000.</li>
                <li>Presumptive Tax Regime introduced  for service providers to exporters/export house under the Trade Policy withdrawn.</li>
                <li>Set off of brought forwarded  losses in the event of amalgamation/merger of companies withdrawn.</li>
                <li> Withholding tax on sale of goods  made adjustable for listed public companies.</li>
                <li>Tax in respect of income from  construction contracts out side Pakistan  to be charged at the rate of one per cent of the gross receipts provided that  such income is brought into Pakistan  in foreign exchange through normal banking channel.&rdquo;</li>
                <li>Withdrawal of withholding tax on  payments to travel agents on sale of air tickets where withholding tax on commission  is already deducted.</li>
                <li>Payments received by non-resident  news agencies, syndicate services and individual contributors/writers not having  permanent establishment in Pakistan will not be subjected to withholding tax on  services provided.</li>
                <li>Advertising services provided by  owners of newspapers/magazines in the non-corporate sector taken out of  Presumptive Tax Regime.</li>
                <li>Withdrawal of CVT on import of  cars and power of attorney executed between first relations.</li>
                <li>Withholding tax @ 5% on purchase of locally manufactured  cars.</li>
                <li>Federal Excise duty also to be  included in the value of goods for withholding tax purposes at the import  stage.                </li>
                
                    </li>
                    <h6><strong>B. RATIONALIZATION OF WITHHOLDING TAXES REGIME:</strong>                        </h6>
                  
                      <li><strong>Withholding Tax on Imports.</strong></li>
                    
              <ul>
                <li>For commercial importers covered under PTR, WHT rate  reduced from 6% to 5%.</li>
                <li>For manufacturers a uniform adjustable withholding tax on  imports @ 1%.</li>
                <li>Exemption in respect of imports covered by statutory  provisions will continue.</li>
                <li>Taxpayers having losses or those having paid advance tax  eligible for reduced rate exemption certificates on imports.</li>
                <li>Manufacturer exporters registered with Sales Tax Department  not liable to withholding tax on imports.</li>
                <li>Withholding tax on import of edible oil reduced from 3% to  2%.</li>
                <li>Import of polyester filament fiber yarn to be subjected to  5% withholding tax.</li>
                <li>Import of Bitumen, pesticides/wedicides and FWT to be  subjected at reduced withholding tax rate of 2%.</li>
              </ul>
             
                <li>Employers authorized to give  credit of tax withheld from employees under different withholding provisions  during the tax year. Also authorized to adjust tax credit allowable to salaried  taxpayers having salary income only.</li>
                <li>Ginners provided option to pay WHT at the prescribed rate.</li>
                <li>Exclusion of companies (Large  Import Houses) importing bulk industrial raw material from presumptive tax  regime.</li>
                <li>Professional Firms to be taxed at par with other AOPs.</li>
              
                <h6><strong>C. REVENUE GENERATION:</strong></h6>
                <li>Withholding tax on non-corporate  commercial and industrial consumers of electricity made minimum tax liability.</li>
                <li> Withdrawal of exemption to Mutual Fund on CFS interest  income.</li>
                <li>Companies to pay advance tax in the first year of operations.</li>
               
                <h6><strong>D. SIMPLIFICATION:</strong></h6>
                <li>Small company redefined with following  characteristics;
                  <table width="244" border="0" class="tblDetail">
                    <tr>
                      <td width="123"> Paid up capital  =</td>
                      <td width="111">25  (M)</td>
                    </tr>
                    <tr>
                      <td>Annual Sales = </td>
                      <td>250 (M)</td>
                    </tr>
                    <tr>
                      <td>Employment Limit  =</td>
                      <td>250  persons</td>
                    </tr>
                  </table>
                  <br>
                </li>
                <li>Presumptive tax regime for  Compressed Natural Gas (CNG) stations and withholding tax @ 6% of gas bill.</li>
                <h6><strong>E. DOCUMENTATION:</strong></h6>
                <li>Electronic filing of returns and  withholding statements for corporate taxpayer made mandatory.</li>
                <li>Filing of Wealth Statement &ndash;  mandatory for taxpayers having income of Rs. 500,000/- or more &ndash; Commissioner authorized  to call for the Wealth Statement.</li>
                <h6><strong>F. REVIEW OF EXEMPTION.</strong></h6>
                <li>Clarification amendment made  regarding taxation of Regulatory Authorities.</li>
              </ol>
              </ol>              <p>&nbsp;</p>            </td>
          </tr>
        
        </table></td>
	    <td height="350" bgcolor="#FFFFFF"></td>
	</tr>
	
	<tr> 
		<td height="13" bgcolor="#FFFFFF" ></td>
		<td height="13" background="images/sk_09.gif"></td>
		<td height="13" background="images/sk_09.gif"></td>
		<td>			</td>
	</tr>
	<tr>
		<td height="20" colspan="3" bgcolor="#FFFFFF"><?php require_once("user_control/app_bottom.php")?></td>
		<td>			</td>
	</tr>
	<tr>
		<td height="1" colspan="3" background="images/sk_23.jpg"></td>
		<td>			</td>
	</tr>
	<tr>
		<td colspan="3" bgcolor="#FFFFFF" align="center"><span class="copyright"><?php echo COPYRIGHT; ?></span></td>
		<td>			</td>
	</tr>
	<tr>
		<td colspan="4">			</td>
	</tr>
</table>
