<h1>General Sales Tax </h1>
            <p>We provide sales tax consulting services, which include advising client on the proper tax treatments and guiding them in all stages while dealing with the Sales tax authorities. Our services include help in tax compliance; tax planning, strategic tax advice, legislative change and implications for businesses, etc.            </p>
            <p>We can assist your company in the compilation and preparation of sales tax returns in an efficient and timely manner.</p>
            <p>
              <ol>
              <ul>
                <li><span dir="LTR">Getting  Sales Tax Registration under Sales Tax Act 1990.</span></li>
                <li><span dir="LTR">Consultancy  on matters related to Sales Tax including Tax planning.</span></li>
                <li><span dir="LTR">Preparation  and filing of Sales Tax Returns and help in obtaining statutory forms.</span></li>
                <li><span dir="LTR">Getting  Sales Tax Assessments done.</span></li>
                <li><span dir="LTR">Filing  and pleading appeals wherever necessary.</span></li>
				<li><span dir="LTR">ddd</span></li>
              </ul>
            </p>
			<p><h1>Sales Tax Refund Analysis</h1>
            </p>
			Is your company missing out on a Sales Tax refund? We can identify and obtain your unclaimed sales tax refunds. Business personnel are not aware of all of the existing sales tax rules and refund procedures, either incorrectly paying sales tax or over-accruing. We recommend specific changes in procedures in order to prevent similar sales tax overpayment errors in the future.	</p>
