<h1>Welcome</h1>
<p>     <table border="0" cellpadding="10" cellspacing="10" >
          <tr>
              <p align="right"><img src="../images/welcometxt.gif" width="549" height="63"></p>
              <p align="right"><img src="../images/sk_14.gif" width="427" height="44"></p>
            <p align="right"><img src="../images/sk_30.gif" width="427" height="110"></p></td>
          </tr>
        </table></p>
