<h1>Links</h1>
     <table border="0" cellpadding="10" cellspacing="10">
          <tr>
            <td width="556">
			  <h5>Budget</h5>
		    <ul><li><a href="#">Finance Bill </a></li>
              <li><a href="#">Selint Features</a></li></ul>
		    <h5>Sales Tax</h5>
		    <ul><li><a href="http://www.cbr.gov.pk/newst/Sales Tax Act 1990/index.htm">Sales Tax Act 1990</a></li>
			<li><a href="http://www.cbr.gov.pk/newst/sros.asp">Notification /SRO</li>
			<li><a href="http://www.cbr.gov.pk/newst/regsts/default.asp">Sales Tax Registration Status</a></li>
		    </ul>
		    <h5>Income Tax</h5>
		    <ul><li><a href="http://www.cbr.gov.pk/newdt/ITordinance/ITOrdinance2006/IncomeTaxOrdinance2001to2006.zip">Income Tax Ordinance</a> </li>
			 <li><a href="http://www.cbr.gov.pk/newdt/sros.asp">Notification / SRO              </a></li>
		    <h5>Federal Excises  </h5>
		    <ul><li><a href="http://www.cbr.gov.pk/newce/FEActandRules/2005/Federal Excise Act 2005updateduptoJune2007.pdf">Federal Excises Act </a></li>
			  <li><a href="http://www.cbr.gov.pk/newce/sros.asp">Notification / SRO              </a></li></ul>
		    <h5>Custom</h5>
		    <ul><li><a href="http://www.cbr.gov.pk/newcu/CustomsAct/default.asp">Custom Act </a></li>
			<li><a href="http://www.cbr.gov.pk/newcu/SROs/default.asp">Notification / SRO</a></li></ul>
		    <h5>RND Supports </h5>
		    <ul><li><a href="#">Notification / SRO</a></li></ul>
          </tr>
        </table>
