<h1>Budget</h1>
<table width="556" border="0" cellpadding="10" cellspacing="10">
          <tr>
            <td><h1 align="center">SALES TAX & FEDERAL EXCISE BUDGETARY MEASURES (FY 2007-08)</h1>
              
			   The budgetary measures of Sales Tax and Federal Excise are aimed to:
			  <ol><ul>
			  <li><span dir="LTR">Provide relief for the taxpayers by giving focused concessions and rationalizing of tax rates, thereby creating a conducive and business friendly environment for the taxpayers.</span></li>
	<li><span dir="LTR">Simplify the tax laws to make them easy for the taxpayers and compatible with international best practices.</span></li>
<li><span dir="LTR">Remove irritants and impediments in laws and procedures.</span></li>
<li><span dir="LTR">Reducing the cost of doing business by furthering the automation of business processes.</span></li>
</ul>
</ol>


<h6>BRIEF POINTS ON INDIVIDUAL BUDGETARY MEASURES:</h6>

<h6>RELIEF MEASURES</h6>

<h6>Zero-rating of sales tax on sewing machines and bicycles:</h6>

<p>Zero-rating of sales tax on sewing machines and bicycles is aimed at providing relief to the general public. </p>
<p>  <b>Enforced through Notification SRO 462(I)/2007 dated 09.06.2007, effective from the 9th June, 2007. </b> </p>
<h6>Exemption of sales tax on cottonseed oil:</h6>
  
  <p>Cottonseed oil is the only locally produced vegetable oil subject to sales tax. To bring it at par with other local vegetable oils and to provide relief to the oil mills, sales tax on cottonseed oil has been exempted.  </p>
  <p>  <strong>Enforced through amendment in the Sixth Schedule to the Sales Tax Act, 1990, effective from the 9th June, 2007.</strong> </p>
  <h6>Sales tax zero-rating on writing inks and exercise books:</h6>
    
    <p>To promote education and to make available essential educational items at reduced cost, sales tax on writing ink and exercise books has been zero-rated.      </p>
    <p><strong>Enforced through Notification SRO 462(I)/2007 dated 09.06.2007, effective from the 9th June, 2007.      </strong></p>
    <h6>Amnesty scheme for waiver of default surcharge and penalty:</h6>
      
      <p>To encourage the taxpayers to clear their outstanding tax liabilities and to reduce the legal disputes, amnesty of default surcharge and penalties has been announced. Taxpayers who wish to avail the amnesty may deposit the principal amount of tax by 30.06.2007.        </p>
      <p><strong>Enforced through Notification SRO 463(I)/2007 dated 09.06.2007, effective from the 9th June, 2007.        </strong></p>
      <h6>Abolition of excise duty on motor gasoline and jet fuel.</h6>
        
        <p>In order to rationalize the taxation on POL products, excise duty @ Rs. 88/- paisas per litre on motor gasoline and Rs. 6/- paisas per litre on jet fuel has been abolished. The products remain chargeable to sales tax.          </p>
        <p><strong>Enforced through amendment in the First Schedule to the Federal Excise Act, 2005, effective from the 9th June, 2007.          </strong></p>
        <h6>Abolition of excise duty on petroleum bitumen.</h6>
          
          <p>To fulfill the increasing demand of bitumen in the country due to extensive roads construction, it is important to make the imported bitumen compatible with locally produced bitumen. Therefore, excise duty @ Rs. 2000/- PMT on bitumen has been abolished. Customs duty is also being revised downwards.            </p>
          <p><strong>Enforced through amendment in the First Schedule to the Federal Excise Act, 2005, effective from the 9th June, 2007.            </strong></p>
          <h6>Zero-rating of sales tax on trailers and semi-trailers:</h6>
            
            <p>To promote the domestic production of better trailers and semi-trailers for the improvement of goods transport, it is proposed to zero-rate sales tax on trailers and semi-trailers.              </p>
            <p><strong>Enforced through SRO 462(I)/2007, dated 9th June, 2007, effective from the 9th June, 2006.              </strong></p>
            <h6>Abolition of excise duty on exchange companies and health insurance:</h6>              
            </p>
            <p>To promote the flow of remittances through official channels, excise duty @ 5% on exchange companies has been abolished. Moreover, to provide level playing field to non-life insurance companies in the field of health insurance vis-à-vis life insurance companies, excise duty leviable @ 5% on health insurance has been abolished.              </p>
            <p><strong>Enforced through amendment in the First Schedule to the Federal Excise, 2005, effective from the 9th June, 2007.              </strong></p>
            <h6>Exemption of sales tax arrears of industries located in FATA/PATA:</h6>
              
              <p>The industries located in FATA/PATA are closed because of sales tax arrears created as a result of the relief provided to the industries by Peshawar High Court which was later on decided against by the Supreme Court. To provide relief to the industries in FATA/PATA, it is proposed to exempt the arrears of sales tax against the units subject to the condition that disputed excise duty and customs duty is duly deposited by them.              </p>
              <h6>Zero-rating of utilities of rice exporters:</h6>
              <p> Local supply of rice is exempt being agricultural produce. Exports are also zero-rated but the exporters have to obtain refund of small incidental e.g. sales tax on utility bills. To boost the industry, it is proposed to zero-rate the utility of rice exporters.              </p>
              <h6>Exemption of sales tax on glass bangles:              </h6>
              <p>To provide relief to the traditional bangle industry of Sindh, glass bangles have been exempted from sales tax.              </p>
              <p><strong>Enforced through amendment in Sixth Schedule to the Sales Tax Act, 1990, effective from 9th June, 2007.              </strong></p>
              <h6>Abolition of excise duty on cable TV operators:              </h6>
              <p>To boost the media industry and to provide cheaper entertainment to the general public, excise duty @ Rs. 8/- per connection per month leviable on cable TV  operators has been abolished.              </p>
              <p><strong>Enforced through amendment in the First Schedule to the Federal Excise, 2005, effective from the 9th June, 2007.              </strong></p>
              <h6>Zero-rating of sales tax on uncooked poultry meat:              </h6>
              <p>To decrease the cost of doing business for the organized sector in poultry meat processing, sales tax on uncooked poultry meat has been zero-rated.              </p>
              <p><strong>Enforced through amendment in the Sixth Schedule to the Sales Tax Act, 1990 and SRO 462(I)/2007, dated 9th June, 2007, effective from the 9th June, 2007.              </strong></p>
              <h6>Exemption of sales tax on surgical tapes and ultrasound gel:              </h6>
              <p>Medicines are exempt from sales tax. Therefore, the scope of exemption has been extended to two more medicinal items which are surgical tapes and ultrasound gel.</p>
              <p><strong> Enforced through amendment in the Sixth Schedule to the Sales Tax Act, 1990, effective from the 9th June, 2007.              </strong></p>
              <h6>REVENUE MEASURES              </h6>
              <h6>Extension of scope of excise duty on financial services:              </h6>
              <p>The existing levy of excise duty @ 5% on non-fund banking services is being extended to include all non-fund services except cheque book issuance charges, Umra and Hajj service charges, cheque return charges and utility collection charges.              </p>
              <p><strong>Enforced through amendment in the First Schedule to the Federal Excise Act, 2005, effective from the 9th June, 2007.              </strong></p>
              <h6>Rationalization of excise duty on international air travel:              </h6>
              <p>For the facilitation of passengers various levies on international air travel i.e. excise duty, foreign travel tax and Government airport tax are being clubbed together in the name of Air Travel Tax. (ATT). The rate is same but exemption for passenger coming from abroad is being withdrawn.              </p>
              <p><strong>Enforced through amendment in the First Schedule to the Federal Excise Act, 2005. Effective from the 1st July, 2007.              </strong></p>
              <h6>Increase in retail price of cigarettes to increase the incidence of tax:              </h6>
              <p>Cigarettes are chargeable to excise duty on the basis of retail price. To complement the growth in cigarette industry and to enhance excise duty collection without disturbing the present three tier system for the purposes of levy, retail price of cigarettes is increased by 7%.              </p>
              <p><strong>Enforced through amendment in the First Schedule to the Federal Excise Act, 2005. Effective from the 10th June, 2007. </strong></p>
              <h6>Increase in rate of sales tax from 15% to 20% on specified raw materials:              </h6>
              <p>To discourage the informal manufacturing in iron and steel, plastics and paper, the rate of sales tax on import and supply of their raw materials as well as some specified chemicals is being increased from 15% to 20% which will induce the informal manufacturing sector to be compliant to obtain input tax adjustment as the end products remain chargeable to sales tax @ 15%.              </p>
              <p><strong>Enforced through SRO 466(I)/2007 dated 9th June, 2007, effective from the 10th June, 2007.</strong></p>
              <h6> Withdrawal of input tax adjustment on the supply of utilities (electricity and gas) to the residential colonies of manufacturers:              </h6>
              <p>In the light of best VAT practices, input tax adjustment is being disallowed on supply of utilities (electricity and gas) to the residential colonies of manufacturers. This measure will also settle many legal disputes.              </p>
              <p><strong>Enforced through SRO 464(I)/2007 dated 9th June, 2007, effective from the 9th June, 2007.              </strong></p>
              <h6>Withdrawal of zero-rating of chemicals of multiple usage:              </h6>
              <p>Under SRO 525(I)/2006, a large number of chemicals used in the five major export oriented sectors have been zero-rated. Keeping inview the multiple usage of some of the chemicals are also used in other industries, such chemicals are being taken out of zero-rating notification.              </p>
              <p><strong>Enforced through SRO 509(I)/2007 dated 9th June, 2007, effective from the 9th June, 2007.              </strong></p>
              <h6>Collection of sales tax of CNG stations from gas distribution companies:              </h6>
              <p>To rationalize the collection of sales tax on supplies made by CNG stations, the responsibility to charge and deposit sales tax is being given to the gas distribution companies. CNG stations will not be required to remain registered with sales tax or keep any records.              </p>
              <p><strong>Enforced through Sales Tax Special Procedure Rules, 2007 effective from the 1st July, 2007.              </strong></p>
              <h6>STREAMLINING MEASURES              </h6>
              <h6>Abolition of sales tax on advance payments: </h6>
              <p>To simply the sales tax regime, sales tax leviable on advance payments received by registered persons is being abolished. Now the registered persons shall be required to charge sales tax at the time of delivery of goods.              </p>
              <p><strong>Enforced through amendment in the Sales Tax Act, 1990, effective from the 1st July, 2007.              </strong></p>
              <h6>Restriction of input tax adjustment:              </h6>
              <p>To check the mal-practices in input tax adjustment, the adjustment of input tax is being restricted to 90% of output tax. The system of adjustment notes and adjustment advices causing problems for the taxpayers is being abolished.              </p>
              <p><strong>New section 8B added to the Sales Tax Act, 1990, effective from 1st July, 2007.</strong></p>
              <h6> Provisions for payment of sales tax refund along with duty drawback:              </h6>
              <p>The scope of sales tax refund is now being limited to zero-rated supplies or exports only. A scheme is being envisaged whereby the exporters of five zero-rated sectors shall be able to obtain sales tax refund on packing material, chemicals along with customs duty drawback.              </p>
              <p><strong>Enforced through amendment in section 10 of the Sales Tax Act, 1990, effective from the 1st July, 2007.              </strong></p>
              <h6>Withdrawal of special procedures for commercial importers, iron & steel sector, restaurants, biscuits and confectionery:</h6>
              <p> With a view to remove distortions in the sales tax system a number of special treatment procedures are being abolished. Now commercial importers, iron & steel sector, restaurants and biscuit and confectionery sector shall operate in standard sales tax procedure of payment of due tax after adjusting the input tax on purchases from the output tax charged on supplies.              </p>
              <p><strong>Enforced through amendment in Sales Tax Special Procedure Rules, 2007, effective from 1st July, 2007 for iron & steel, biscuits and restaurants. For commercial importers immediately vide SRO 468(I)/2007 dated 9th June, 2007. </strong></p>
              <h6>Introduction of concept of withholding agents in sales tax:              </h6>
              <p>To plug the revenue gap in Government supplies and to collect the due tax from general orders supplies and wholesalers, the system of withholding of sales tax by the Government agencies is being introduced.              </p>
              <h6>Immediate refunds to Large Taxpayers against bank guarantees:                </h6>
              <p>To expedite the sales tax refunds of large taxpayers registered in Large Taxpayers Units, a new procedure has been issued whereby they can claim their sales tax refunds within three days of filing upon submission bank guarantee equivalent to refund amounts. </p>
              <p><strong>Enforced through SRO 465(I)/2007 dated 9th June, 2007, effective from 9th June, 2007.</strong></p>
              <h6> Enhancement in period of record retention.              </h6>
              <p>Based on international best practices, the period of record retention is being enhanced to five years from existing three years.              </p>
              <p><strong>Enforced through amendment in Sales Tax Act, 1990 and Federal Excise Act, 2005, effective from 1st July, 2007.              </strong></p>
              <h6>Single sales tax return:              </h6>
              <p>Abolishing the various sales tax returns and a separate invoice summary, a single sales tax return has been introduced and invoice summary has been made an annexure to the return for facilitation.              </p>
              <h6>Levy and deposit of excise duty in the manner of sales tax:              </h6>
              <p>Excise duty shall now be leviable on supplies instead of clearance as done in sales tax and shall be deposited with the return on the 15th day of the following month.              </p>
              <h6>Linkage of registration threshold of manufacturers with utility bills:              </h6>
              <p>Apart from the existing registration threshold of supplies of Rs. 5 million per annum, a new parameter based on utility bills is being introduced by amending the Sales Tax Act, 1990. Whereby the manufacturers having utility bills of more than Rs. 600,000 per annum shall also be required to obtain sales tax registration.</p>
              </p>
              </p>
              </p>
                                                                                                                                      </p>
            </p></p></td>
          </tr>
        </table>
