<h1>Tax Advocacy</h1>
<table width="556" border="0" cellpadding="10" cellspacing="10">
          <tr>
            <td>
              <h6 class="">Exceptional Issues </h6>
              <p>We continue to research and pioneer unique issues and tax  law interpretations that may save your organization money.</p>
              <h6>Minimal Demands On Your Staff</h6>
              
              <p>The impact on both your time and that of your staff is  minimal. Our consultants are thoroughly experienced and, once oriented to your  filing system, can function independently. Whenever possible, we will prepare  all correspondence with the concern Government Department.</p>
              <h6>Ongoing Support</h6>
             
              <ol>
                <li><span dir="LTR">The  communication between our firm and your organization does not end after the  review is complete.</span></li>
                <li><span dir="LTR">We  offer our clients access in the event that a query arises pertaining to  Commodity Taxes. If required, we will contact the appropriate taxation  authorities on your behalf.</span></li>
                <li><span dir="LTR">Our  service does not end with one review. Once you become a client, we will provide  an update service on any new tax issues.</span></li>
                <li><span dir="LTR">During  the course of the review, we will indicate any area where a tax liability may  exist Use of this information is left to your discretion.</span></li>
                <li><span dir="LTR">We  can provide you and your staff with an in-house seminar at the conclusion of  our service in according to your desire. </span></li>
                <li><span dir="LTR">It  is our intention to develop a long term working relationship with our clients.</span></li>
              </ol>
            
              <h6>Commitment To Client Satisfaction</h6>
             
             <ol>
             
              <li> We  will dispute contentious issues on your behalf. </li>
              <li> All  information pertaining to your files is kept in strict confidence. </li>
              <li> We  will not duplicate any issues you are currently addressing. Our goal is to add  to your Commodity Tax knowledge.</li> 
               <li>Our  staff is in regular contact with local &amp; regional tax offices for ongoing  support on your behalf.</li> 
               <li>We  guarantee to provide excellent service based on integrity, honesty and  sincerity.</li>             
              <li> At  the conclusion of the review, you will receive a report outlining all areas of  recovery entitlement.</li> 
              
                   <li>And  finally, we guarantee to work with you until we have delivered the results we  promised.</li>
				   </ol>
              <p>&nbsp;</p>
            </td>
          </tr>
         
        </table></td>
	    <td height="350" bgcolor="#FFFFFF"></td>
	</tr>
	
	<tr> 
		<td height="13" bgcolor="#FFFFFF" ></td>
		<td height="13" background="images/sk_09.gif"></td>
		<td height="13" background="images/sk_09.gif"></td>
		<td>			</td>
	</tr>
	<tr>
		<td height="20" colspan="3" bgcolor="#FFFFFF"><?php require_once("user_control/app_bottom.php")?></td>
		<td>			</td>
	</tr>
	<tr>
		<td height="1" colspan="3" background="images/sk_23.jpg"></td>
		<td>			</td>
	</tr>
	<tr>
		<td colspan="3" bgcolor="#FFFFFF" align="center"><span class="copyright"><?php echo COPYRIGHT; ?></span></td>
		<td>			</td>
	</tr>
	<tr>
		<td colspan="4">			</td>
	</tr>
</table>
