<!DOCTYPE html>
<html>
 <head>
    <meta charset="" />
    <title><%= title%></title>
    <meta name="author" content="Naseem" />
	  <%= stylesheet_link_tag :all %>
	  <%= javascript_include_tag :defaults %>
	  <%= csrf_meta_tag %>
    </head>
<body class="home blog">
<div id="browser-helper">
    <div id="bh-bg">
        <table id="bh-notice" border="0" cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td id="bh-icon-td" rowspan="3">
                    <img id="bh-icon" src="http://s.wordpress.org/images/browsers/ie.png" alt="browser icon" width="87">
                </td>
                <td id="bh-copy">
                    <div id="bh-warning">You are using an insecure version of <span id="bh-browsername">your web browser</span>. Please update your browser!</div>
                    <div id="bh-explain">Using an outdated browser makes your computer unsafe. For a safer, faster, more enjoyable user experience, please update your browser today or try a newer browser.</div>
                    <div id="bh-links">
                        <a id="bh-update" href="#">Update Your Browser</a> | <a href="http://www.google.com/chrome/">Try Something New</a> | <a href="#" id="bh-hide">Hide This Warning</a>
                    </div>
                </td>
            </tr>
        </tbody></table>
    </div>
    <div id="bh-shadow"></div>
</div>
    <div id="ancestor-19" class="siteframe page-siteframe ">
        <div id="container">
          <div id="container2">
            <div class="nav-horz nav-main" id="menu">
              <div class="nav-main-left">
                <div class="nav-main-right">
                    <div class="menu">
                    <ul>
                      <li class="page_item page-item-2"><%= link_to "Home",root_path%></li>
                      <li class="page_item page-item-46"><%= link_to "About",about_path%></li>
                      <li class="page_item page-item-46"><%= link_to "Service",service_path%></li>
                      <li class="page_item page-item-46"><%= link_to "Contact",contact_path%></li>
                      </ul>
                      </div>
                </div>
              </div>
              <div class="nav-main-bottom"></div>
            </div>
            <div class="clear"></div>
            <!-- end header -->
            <div id="sidecalculation"></div>
      <div id="header"><div id="header2"><div id="header3"><div id="header4">
            		<div id="logo">
	  <div id="logo-2">
		<div id="logo-3">
		  <table><tbody><tr><td>
                            <div id="site-title">
                            <div id="site-logo"></div>
                         </div>
			   </td></tr></tbody></table>
		</div>
	  </div>
	</div>
	              <div id="banner">
                                        <img src="../images/headers/ctx-header-calculator.jpg" alt="" height="360" width="920">
                
              </div>
      </div></div></div></div>
		<div class="content" id="col-2-left">
                    <div id="col-main" role="main" style="">
                          <div id="main-content">
			<%= yield%>
                           </div>
                    </div><!-- #col-main -->
                    <div id="col-left" class="sidebar" style="width:220px;"><ul></ul></div>                    <div class="clear"></div>
		</div><!-- #content -->

    	<!-- begin footer -->
        <div class="clear"></div>
            <div id="footer">
              <div class="nav-horz nav-footer"><div class="menu"><ul><li class="page_item page-item-2"><a href="http://wp-themes.com/?page_id=2" title="About">About</a></li><li class="page_item page-item-46"><a href="http://wp-themes.com/?page_id=46" title="Parent Page">Parent Page</a><ul class="children"><li class="page_item page-item-49"><a href="http://wp-themes.com/?page_id=49" title="Sub-page">Sub-page</a></li></ul></li></ul></div>
</div>
                    <div id="site-generator" style="">
        <a href="" title="Author" rel="generator">Developed by Naseem</a>
    </div>
                   
            </div>
          </div>
        </div>
    </div>

</body>
</html>
