<!DOCTYPE html>
<html>
 <head>
    <meta charset="" />
    <title>SK Associates</title>
    <meta name="author" content="Naseem" />
	  <%= stylesheet_link_tag :all %>
	  <%= javascript_include_tag :defaults %>
	  <%= csrf_meta_tag %>
    </head>
<body class="home blog">
<div id="browser-helper">
    <div id="bh-bg">
        <table id="bh-notice" border="0" cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td id="bh-icon-td" rowspan="3">
                    <img id="bh-icon" src="http://s.wordpress.org/images/browsers/ie.png" alt="browser icon" width="87">
                </td>
                <td id="bh-copy">
                    <div id="bh-warning">You are using an insecure version of <span id="bh-browsername">your web browser</span>. Please update your browser!</div>
                    <div id="bh-explain">Using an outdated browser makes your computer unsafe. For a safer, faster, more enjoyable user experience, please update your browser today or try a newer browser.</div>
                    <div id="bh-links">
                        <a id="bh-update" href="#">Update Your Browser</a> | <a href="http://www.google.com/chrome/">Try Something New</a> | <a href="#" id="bh-hide">Hide This Warning</a>
                    </div>
                </td>
            </tr>
        </tbody></table>
    </div>
    <div id="bh-shadow"></div>
</div>
    <div id="ancestor-19" class="siteframe page-siteframe ">
        <div id="container">
          <div id="container2">
            <div class="nav-horz nav-main" id="menu">
              <div class="nav-main-left">
                <div class="nav-main-right">
                    <div class="menu"><ul><li class="page_item page-item-2"><a href="#" title="About">About</a></li><li class="page_item page-item-46"><a href="#" title="Parent Page">Parent Page</a><ul class="children"><li class="page_item page-item-49"><a href="#" title="Sub-page">Sub-page</a></li></ul></li></ul></div>
                </div>
              </div>
              <div class="nav-main-bottom"></div>
            </div>
            <div class="clear"></div>
            <!-- end header -->
            <div id="sidecalculation"></div>
      <div id="header"><div id="header2"><div id="header3"><div id="header4">
            		<div id="logo">
	  <div id="logo-2">
		<div id="logo-3">
		  <table><tbody><tr><td>
                            <div id="site-title">
                            <div id="site-logo"></div>
                         </div>
			   </td></tr></tbody></table>
		</div>
	  </div>
	</div>
	              <div id="banner">
                                        <img src="../images/headers/ctx-header-calculator.jpg" alt="" height="360" width="920">
                
              </div>
      </div></div></div></div>
		<div class="content" id="col-2-left">
                    <div id="col-main" role="main" style="">
                          <div id="main-content">
			<%= yield%>
              

			<div id="post-19" class="post-19 post type-post status-publish format-standard hentry category-uncategorized tag-boat tag-lake">
                                        			<h2 class="entry-title"><a href="http://wp-themes.com/?p=19" title="Permalink to Worth A Thousand Words" rel="bookmark">Worth A Thousand Words</a></h2>
                        			<div class="entry-meta">
				<span class="meta-prep meta-prep-author">Posted on</span> <a href="http://wp-themes.com/?p=19" title="4:33 am" rel="bookmark"><span class="entry-date">October 17, 2008</span></a> <span class="meta-sep">by</span> <span class="author vcard"><a class="url fn n" href="http://wp-themes.com/?author=1" title="View all posts by Theme Admin">Theme Admin</a></span>			</div><!-- .entry-meta -->

				<div class="entry-content">
				<div class="wp-caption alignnone" style="width: 445px"><img class="wp-image-59" alt="Boat" src="#" height="288" width="435"><p class="wp-caption-text">Boat</p></div>
<p>Boat.</p>
				                            <div class="clear"></div>
			</div><!-- .entry-content -->
	
			<div class="entry-utility">
									<span class="cat-links">
						<span class="entry-utility-prep entry-utility-prep-cat-links">Categories: </span> <a href="http://wp-themes.com/?cat=1" title="View all posts in Uncategorized" rel="category">Uncategorized</a>					</span>
					<span class="meta-sep">|</span>
													<span class="tag-links">
						<span class="entry-utility-prep entry-utility-prep-tag-links">Tags:</span> <a href="http://wp-themes.com/?tag=boat" rel="tag">boat</a>, <a href="http://wp-themes.com/?tag=lake" rel="tag">lake</a>					</span>
					<span class="meta-sep">|</span>
								<span class="comments-link"><span>Comments Off</span></span>

			</div><!-- .entry-utility -->
		</div><!-- #post-## -->

		
	


			<div id="post-36" class="post-36 post type-post status-publish format-standard hentry category-uncategorized">
                                        			<h2 class="entry-title"><a href="http://wp-themes.com/?p=36" title="Permalink to Elements" rel="bookmark">Elements</a></h2>
                        			<div class="entry-meta">
				<span class="meta-prep meta-prep-author">Posted on</span> <a href="http://wp-themes.com/?p=36" title="7:39 pm" rel="bookmark"><span class="entry-date">September 5, 2008</span></a> <span class="meta-sep">by</span> <span class="author vcard"><a class="url fn n" href="http://wp-themes.com/?author=1" title="View all posts by Theme Admin">Theme Admin</a></span>			</div><!-- .entry-meta -->

				<div class="entry-content">
				<p><!-- Sample Content to Plugin to Template --></p>
<p>The purpose of this HTML is to help determine what default settings are with CSS and to make sure that all possible HTML Elements are included in this HTML so as to not miss any possible Elements when designing a site.</p>
<hr>
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
<p><small><a href="#wrapper">[top]</a></small></p>
<hr>
<h2 id="paragraph">Paragraph</h2>
<p>Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
<p>Lorem ipsum dolor sit amet, <em>emphasis</em> consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
<p><small><a href="#wrapper">[top]</a></small></p>
<hr>
<h2 id="list_types">List Types</h2>
<h3>Definition List</h3>
<dl>
<dt>Definition List Title</dt>
<dd>This is a definition list division.</dd>
</dl>
<h3>Ordered List</h3>
<ol>
<li>List Item 1</li>
<li>List Item 2</li>
<li>List Item 3</li>
</ol>
<h3>Unordered List</h3>
<ul>
<li>List Item 1</li>
<li>List Item 2</li>
<li>List Item 3</li>
</ul>
<p><small><a href="#wrapper">[top]</a></small></p>
<hr>
<h2 id="form_elements">Forms</h2>
<fieldset>
<legend>Legend</legend>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.</p>
<form>
<h2>Form Element</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui.</p>
<p><label for="text_field">Text Field:</label></p>
<input id="text_field" type="text">
<p><label for="text_area">Text Area:</label><br>
		<textarea id="text_area"></textarea></p>
<p><label for="select_element">Select Element:</label></p>
<select name="select_element">
			<optgroup label="Option Group 1">
<option value="1">Option 1</option>
<option value="2">Option 2</option>
<option value="3">Option 3</option>
			</optgroup>
			<optgroup label="Option Group 2">
<option value="1">Option 1</option>
<option value="2">Option 2</option>
<option value="3">Option 3</option>
			</optgroup>
		</select>
<p></p>
<p><label for="radio_buttons">Radio Buttons:</label></p>
<input class="radio" name="radio_button" value="radio_1" type="radio"> Radio 1<br><p></p>
<input class="radio" name="radio_button" value="radio_2" type="radio"> Radio 2<br><p></p>
<input class="radio" name="radio_button" value="radio_3" type="radio"> Radio 3<br>
		<p></p>
<p><label for="checkboxes">Checkboxes:</label></p>
<input class="checkbox" name="checkboxes" value="check_1" type="checkbox"> Radio 1<br><p></p>
<input class="checkbox" name="checkboxes" value="check_2" type="checkbox"> Radio 2<br><p></p>
<input class="checkbox" name="checkboxes" value="check_3" type="checkbox"> Radio 3<br>
		<p></p>
<p><label for="password">Password:</label></p>
<input class="password" name="password" type="password">
<p><label for="file">File Input:</label></p>
<input class="file" name="file" type="file">
<p>
<input class="button" value="Clear" type="reset">
<input class="button" value="Submit" type="submit"></p></form>
</fieldset>
<p><small><a href="#wrapper">[top]</a></small></p>
<hr>
<h2 id="tables">Tables</h2>
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<th>Table Header 1</th>
<th>Table Header 2</th>
<th>Table Header 3</th>
</tr>
<tr>
<td>Division 1</td>
<td>Division 2</td>
<td>Division 3</td>
</tr>
<tr class="even">
<td>Division 1</td>
<td>Division 2</td>
<td>Division 3</td>
</tr>
<tr>
<td>Division 1</td>
<td>Division 2</td>
<td>Division 3</td>
</tr>
</tbody></table>
<p><small><a href="#wrapper">[top]</a></small></p>
<hr>
<h2 id="misc">Misc Stuff – abbr, acronym, pre, code, sub, sup, etc.</h2>
<p>Lorem <sup>superscript</sup> dolor <sub>subscript</sub> amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. <cite>cite</cite>. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. <acronym title="National Basketball Association">NBA</acronym> Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.  <abbr title="Avenue">AVE</abbr></p>
<pre>

Lorem ipsum dolor sit amet,
 consectetuer adipiscing elit.
 Nullam dignissim convallis est.
 Quisque aliquam. Donec faucibus.
Nunc iaculis suscipit dui.
Nam sit amet sem.
Aliquam libero nisi, imperdiet at,
 tincidunt nec, gravida vehicula,
 nisl.
Praesent mattis, massa quis
luctus fermentum, turpis mi
volutpat justo, eu volutpat
enim diam eget metus.
Maecenas ornare tortor.
Donec sed tellus eget sapien
 fringilla nonummy.
<acronym title="National Basketball Association">NBA</acronym>
Mauris a ante. Suspendisse
 quam sem, consequat at,
commodo vitae, feugiat in,
nunc. Morbi imperdiet augue
 quis tellus.
<abbr title="Avenue">AVE</abbr>
</pre>
<blockquote><p>
	“This stylesheet is going to help so freaking much.” <br>-Blockquote
</p></blockquote>
<p><small><a href="#wrapper">[top]</a></small><br>
<!-- End of Sample Content --></p>
				                            <div class="clear"></div>
			</div><!-- .entry-content -->
	
			<div class="entry-utility">
									<span class="cat-links">
						<span class="entry-utility-prep entry-utility-prep-cat-links">Categories: </span> <a href="http://wp-themes.com/?cat=1" title="View all posts in Uncategorized" rel="category">Uncategorized</a>					</span>
					<span class="meta-sep">|</span>
												<span class="comments-link"><span>Comments Off</span></span>

			</div><!-- .entry-utility -->
		</div><!-- #post-## -->

		
	


			<div id="post-14" class="post-14 post type-post status-publish format-standard hentry category-uncategorized tag-wordpress">
                                        			<h2 class="entry-title"><a href="http://wp-themes.com/?p=14" title="Permalink to More Tags" rel="bookmark">More Tags</a></h2>
                        			<div class="entry-meta">
				<span class="meta-prep meta-prep-author">Posted on</span> <a href="http://wp-themes.com/?p=14" title="12:09 am" rel="bookmark"><span class="entry-date">June 21, 2008</span></a> <span class="meta-sep">by</span> <span class="author vcard"><a class="url fn n" href="http://wp-themes.com/?author=1" title="View all posts by Theme Admin">Theme Admin</a></span>			</div><!-- .entry-meta -->

				<div class="entry-content">
				<p>More of these posts need tags.</p>
				                            <div class="clear"></div>
			</div><!-- .entry-content -->
	
			<div class="entry-utility">
									<span class="cat-links">
						<span class="entry-utility-prep entry-utility-prep-cat-links">Categories: </span> <a href="http://wp-themes.com/?cat=1" title="View all posts in Uncategorized" rel="category">Uncategorized</a>					</span>
					<span class="meta-sep">|</span>
													<span class="tag-links">
						<span class="entry-utility-prep entry-utility-prep-tag-links">Tags:</span> <a href="http://wp-themes.com/?tag=wordpress" rel="tag">wordpress</a>					</span>
					<span class="meta-sep">|</span>
								<span class="comments-link"><a href="http://wp-themes.com/?p=14#respond" title="Comment on More Tags">Leave a comment</a></span>

			</div><!-- .entry-utility -->
		</div><!-- #post-## -->

		
	


			<div id="post-8" class="post-8 post type-post status-publish format-standard hentry category-uncategorized tag-html tag-wordpress">
                                        			<h2 class="entry-title"><a href="http://wp-themes.com/?p=8" title="Permalink to HTML" rel="bookmark">HTML</a></h2>
                        			<div class="entry-meta">
				<span class="meta-prep meta-prep-author">Posted on</span> <a href="http://wp-themes.com/?p=8" title="12:04 am" rel="bookmark"><span class="entry-date">June 21, 2008</span></a> <span class="meta-sep">by</span> <span class="author vcard"><a class="url fn n" href="http://wp-themes.com/?author=1" title="View all posts by Theme Admin">Theme Admin</a></span>			</div><!-- .entry-meta -->

				<div class="entry-content">
				<p>What HTML tags would you like to see?</p>
<p>Let’s start with an unordered list:</p>
<ul>
<li>One</li>
<li>Two</li>
<li>Three</li>
<li>Four</li>
</ul>
<p>And then move on to a more interesting ordered list:</p>
<ol>
<li>one, two
<ol>
<li>buckle my shoe</li>
</ol>
</li>
<li>three, four
<ol>
<li>knock at the door</li>
</ol>
</li>
<li>Five, six
<ol>
<li>pick up sticks</li>
</ol>
</li>
<li>Seven, eight, lay them straight
<ol>
<li>Nine, ten, a big fat hen</li>
<li>Eleven, twelve, dig and delve</li>
<li>Thirteen, fourteen, maids a’courting</li>
<li>Fifteen, sixteen, maids in the kitchen</li>
<li>Seventeen, eighteen, maids a’waiting</li>
<li>Nineteen, twenty, my platter’s empty …</li>
</ol>
</li>
</ol>
				                            <div class="clear"></div>
			</div><!-- .entry-content -->
	
			<div class="entry-utility">
									<span class="cat-links">
						<span class="entry-utility-prep entry-utility-prep-cat-links">Categories: </span> <a href="http://wp-themes.com/?cat=1" title="View all posts in Uncategorized" rel="category">Uncategorized</a>					</span>
					<span class="meta-sep">|</span>
													<span class="tag-links">
						<span class="entry-utility-prep entry-utility-prep-tag-links">Tags:</span> <a href="http://wp-themes.com/?tag=html" rel="tag">html</a>, <a href="http://wp-themes.com/?tag=wordpress" rel="tag">wordpress</a>					</span>
					<span class="meta-sep">|</span>
								<span class="comments-link"><a href="http://wp-themes.com/?p=8#comments" title="Comment on HTML">1 Comment</a></span>

			</div><!-- .entry-utility -->
		</div><!-- #post-## -->

		
	


			<div id="post-6" class="post-6 post type-post status-publish format-standard hentry category-uncategorized">
                                        			<h2 class="entry-title"><a href="http://wp-themes.com/?p=6" title="Permalink to Links" rel="bookmark">Links</a></h2>
                        			<div class="entry-meta">
				<span class="meta-prep meta-prep-author">Posted on</span> <a href="http://wp-themes.com/?p=6" title="8:06 pm" rel="bookmark"><span class="entry-date">June 20, 2008</span></a> <span class="meta-sep">by</span> <span class="author vcard"><a class="url fn n" href="http://wp-themes.com/?author=1" title="View all posts by Theme Admin">Theme Admin</a></span>			</div><!-- .entry-meta -->

				<div class="entry-content">
				<p>A few well known WordPress links: <a href="http://wordpress.org/">WordPress.org</a>, <a href="http://codex.wordpress.org/Main_Page">the Codex</a> and <a href="http://wordpress.org/download/">the download page</a>.</p>
				                            <div class="clear"></div>
			</div><!-- .entry-content -->
	
			<div class="entry-utility">
									<span class="cat-links">
						<span class="entry-utility-prep entry-utility-prep-cat-links">Categories: </span> <a href="http://wp-themes.com/?cat=1" title="View all posts in Uncategorized" rel="category">Uncategorized</a>					</span>
					<span class="meta-sep">|</span>
												<span class="comments-link"><span>Comments Off</span></span>

			</div><!-- .entry-utility -->
		</div><!-- #post-## -->

		
	


			<div id="post-4" class="post-4 post type-post status-publish format-standard hentry category-first-child-category category-one-grandchild-category category-parent category-second-child-category">
                                        			<h2 class="entry-title"><a href="http://wp-themes.com/?p=4" title="Permalink to Category Hierarchy" rel="bookmark">Category Hierarchy</a></h2>
                        			<div class="entry-meta">
				<span class="meta-prep meta-prep-author">Posted on</span> <a href="http://wp-themes.com/?p=4" title="7:59 pm" rel="bookmark"><span class="entry-date">June 20, 2008</span></a> <span class="meta-sep">by</span> <span class="author vcard"><a class="url fn n" href="http://wp-themes.com/?author=1" title="View all posts by Theme Admin">Theme Admin</a></span>			</div><!-- .entry-meta -->

				<div class="entry-content">
				<p>This post has 4 categories, part of a hierarchy that is 3 deep.</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce euismod commodo ante. Suspendisse potenti. Nunc pellentesque quam vel pede. Ut a lorem non urna molestie euismod. Fusce consequat tortor eu urna. Pellentesque aliquam, pede eget tincidunt feugiat, nunc massa hendrerit magna, non ultricies neque lectus nec dui. In hac habitasse platea dictumst. Sed feugiat quam eget lectus. Fusce at pede. Morbi sagittis tristique tortor. Sed erat justo, blandit ac, dignissim in, pretium ut, urna.</p>
				                            <div class="clear"></div>
			</div><!-- .entry-content -->
	
			<div class="entry-utility">
									<span class="cat-links">
						<span class="entry-utility-prep entry-utility-prep-cat-links">Categories: </span> <a href="http://wp-themes.com/?cat=6" title="View all posts in First Child Category" rel="category">First Child Category</a>, <a href="http://wp-themes.com/?cat=8" title="View all posts in One Grandchild Category" rel="category">One Grandchild Category</a>, <a href="http://wp-themes.com/?cat=5" title="View all posts in Parent" rel="category">Parent</a>, <a href="http://wp-themes.com/?cat=7" title="View all posts in Second Child Category" rel="category">Second Child Category</a>					</span>
					<span class="meta-sep">|</span>
												<span class="comments-link"><span>Comments Off</span></span>

			</div><!-- .entry-utility -->
		</div><!-- #post-## -->

		
	


			<div id="post-1" class="post-1 post type-post status-publish format-standard hentry category-uncategorized">
                                        			<h2 class="entry-title"><a href="http://wp-themes.com/?p=1" title="Permalink to Hello world!" rel="bookmark">Hello world!</a></h2>
                        			<div class="entry-meta">
				<span class="meta-prep meta-prep-author">Posted on</span> <a href="http://wp-themes.com/?p=1" title="10:40 pm" rel="bookmark"><span class="entry-date">June 4, 2008</span></a> <span class="meta-sep">by</span> <span class="author vcard"><a class="url fn n" href="http://wp-themes.com/?author=1" title="View all posts by Theme Admin">Theme Admin</a></span>			</div><!-- .entry-meta -->

				<div class="entry-content">
				<p>Welcome to WordPress. This is your first post. Edit or delete it, then start blogging!</p>
				                            <div class="clear"></div>
			</div><!-- .entry-content -->
	
			<div class="entry-utility">
									<span class="cat-links">
						<span class="entry-utility-prep entry-utility-prep-cat-links">Categories: </span> <a href="http://wp-themes.com/?cat=1" title="View all posts in Uncategorized" rel="category">Uncategorized</a>					</span>
					<span class="meta-sep">|</span>
												<span class="comments-link"><a href="http://wp-themes.com/?p=1#comments" title="Comment on Hello world!">2 Comments</a></span>

			</div><!-- .entry-utility -->
		</div><!-- #post-## -->

		
	

                        </div>
                    </div><!-- #col-main -->
                    <div id="col-left" class="sidebar" style="width:220px;"><ul></ul></div>                    <div class="clear"></div>
		</div><!-- #content -->

    	<!-- begin footer -->
        <div class="clear"></div>
            <div id="footer">
              <div class="nav-horz nav-footer"><div class="menu"><ul><li class="page_item page-item-2"><a href="http://wp-themes.com/?page_id=2" title="About">About</a></li><li class="page_item page-item-46"><a href="http://wp-themes.com/?page_id=46" title="Parent Page">Parent Page</a><ul class="children"><li class="page_item page-item-49"><a href="http://wp-themes.com/?page_id=49" title="Sub-page">Sub-page</a></li></ul></li></ul></div>
</div>
                    <div id="site-generator" style="">
        <a href="" title="Author" rel="generator">Developed by Naseem</a>
    </div>
                   
            </div>
          </div>
        </div>
    </div>

</body>
</html>
